@inject IOrganizationService OrganizationService
@inject IDepartmentService DepartmentService

@typeparam TContext where TContext : DbContext
@typeparam TOrgDepartment where TOrgDepartment : class, IOrgDepartment, new()
@typeparam TOrganization where TOrganization : class, IOrganization, new()
@typeparam TDepartment where TDepartment : class, IDepartment, new()

<PageTitle>组织部门关系</PageTitle>

<TItemTable TContext="TContext" TItem="TOrgDepartment">

    <TableColumns>

        <TableColumn @bind-Field="@context.OrganizationId" Text="组织名称" Filterable="true" Sortable="true">
            <Template Context="value">
                <div>@OrganizationService.GetShortNameById(value.Value)</div>
            </Template>
            <EditTemplate Context="value">
                <div class="col-12 col-sm-6">
                    <OrgVirtualizeSelect TContext="@TContext" TOrganization="@TOrganization" @bind-Value="@value.OrganizationId"></OrgVirtualizeSelect>
                </div>
            </EditTemplate>
            <FilterTemplate>
                <OrgIdFilter TContext="@TContext" TOrganization="@TOrganization"></OrgIdFilter>
            </FilterTemplate>
        </TableColumn>
        <TableColumn @bind-Field="@context.DepartmentId" Text="部门名称" Filterable="true" Sortable="true">
            <Template Context="value">
                <div>@DepartmentService.GetShortNameById(value.Value)</div>
            </Template>
            <EditTemplate Context="value">
                <div class="col-12 col-sm-6">
                    <DepartmentVirtualizeSelect TContext="@TContext" TDepartment="@TDepartment" @bind-Value="@value.DepartmentId"></DepartmentVirtualizeSelect>
                </div>
            </EditTemplate>
            <FilterTemplate>
                <DepartmentIdFilter TContext="@TContext" TDepartment="@TDepartment"></DepartmentIdFilter>
            </FilterTemplate>
        </TableColumn>

    </TableColumns>

</TItemTable>
