@inject IOrganizationService OrganizationService
@inject IInstitutionService InstitutionService

@typeparam TContext where TContext : DbContext
@typeparam TOrgInst where TOrgInst : class, IOrgInst, new()
@typeparam TOrganization where TOrganization : class, IOrganization, new()
@typeparam TInstitution where TInstitution : class, IInstitution, new()

<PageTitle>组织机构关系</PageTitle>

<TItemTable TContext="TContext" TItem="TOrgInst">

    <TableColumns>

        <TableColumn @bind-Field="@context.OrganizationId" Text="组织名称" Filterable="true" Sortable="true">
            <Template Context="value">
                <div>@OrganizationService.GetShortNameById(value.Value)</div>
            </Template>
            <EditTemplate Context="value">
                <div class="col-12 col-sm-6">
                    <OrgVirtualizeSelect TContext="@TContext" TOrganization="@TOrganization" @bind-Value="@value.OrganizationId"></OrgVirtualizeSelect>
                </div>
            </EditTemplate>
            <FilterTemplate>
                <OrgIdFilter TContext="@TContext" TOrganization="@TOrganization"></OrgIdFilter>
            </FilterTemplate>
        </TableColumn>
        <TableColumn @bind-Field="@context.InstitutionId" Text="机构名称" Filterable="true" Sortable="true">
            <Template Context="value">
                <div>@InstitutionService.GetShortNameById(value.Value)</div>
            </Template>
            <EditTemplate Context="value">
                <div class="col-12 col-sm-6">
                    <InstVirtualizeSelect TContext="@TContext" TInstitution="@TInstitution" @bind-Value="@value.InstitutionId"></InstVirtualizeSelect>
                </div>
            </EditTemplate>
            <FilterTemplate>
                <InstIdFilter TContext="@TContext" TInstitution="@TInstitution"></InstIdFilter>
            </FilterTemplate>
        </TableColumn>

    </TableColumns>

</TItemTable>
